%html
%head
	%title Herbi
	%link(rel="stylesheet" type="text/css" href="css/mystyle.css")
%body
	#header 
		%h1 Herbiden gelmeye 
	#article
		%p= "#{@dni}"
	%h2 gun galib.
	#footer
		%h4 Sayt Sinatra ve Haml ile yazilib.
		%h4 Biotin 2011-2012.
	
