body {
background-color:CCFFFF;
}

#article {
background-color:FF99FF;
margin-left: 20%;
margin-right: 20%;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
}

h1, h2, h4 {
text-align: center
}

p {
font-size:1000%;
text-align: center
}
